@media print {
    body { font-size: 10pt }
}
@media screen {
    body { font-size: 13px }
}
@media screen, print {
    body { line-height: 1.2 }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    body {
        line-height: 1.4;
        font-size:  8px;
    }


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    color: #6aadee;
    text-decoration: none;
}
.clear {
    clear: both;
}
/*Стили для шапки*/
header {
    width: 100%;
    float: left ;
    padding: 1%;
    background-color: #851313;
    border-bottom: 2px solid darkred;
    font-family: "Roboto Light", sans-serif;
}
header #logo{
    width: 40%;
    float: left;
}
header #logo a{
    color: white;
    font-size: 1.5em;
    font-family: "Roboto Light", sans-serif;
}
header #logo a:hover{
    color: #b5b5b5;
    font-size: 1.5em;
    font-family: "Roboto Light", sans-serif;
}
header #news {
    width: 40%;
    float: right;
    text-align: right;
}
header #news a {
    color: white;
    font-size: 1.5em;
    font-family: "Roboto Light", sans-serif;
}
header #news a:hover {
    color: #b5b5b5;
    font-size: 1.5em;
    font-family: "Roboto Light", sans-serif;
}


/*Стили таблицы*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:500px;
    height: 100%;
    max-height:100px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    border: 3px solid darkred;
    float: left ;
    padding: 1%;
    background-color: #851313;
    border-bottom: 2px solid darkred;

    text-align: center;
}
table tr {
    background-color: #f8f8f8;
}
table th,  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

table th{
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    table tr{
        display: block;
    }
    table tr{
        margin-bottom: 30px;
    }
    table th, td{
        display: block;
        text-align: center;
    }
}


/* Стили формы*/

form{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

input{

    width: 40%;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
    float: left;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    color: #222222;
    outline: none;
    font-size: 1.3em;
    font-family: "Roboto Light", sans-serif;

}
input:focus{
    border: 2px solid #ca8585;
}
input:hover{
    border: 2px solid #c9dce7;

}
#form #button{
    background: darkred;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

/* Стили новостей*/

#newsLent{ /* Блок новостей*/

    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10%;
    float: left;
    min-height: 100%;
    position: relative;

}
#news{/* новости*/
    width: 80%;
    margin-left: 10%;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
}
#firstNews{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color: #d6d6d6;
    padding: 1%;
    float: left;
}
@media (max-width: 480px) {
#firstNews {
        width: 98%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #d6d6d6;
        padding: 1%;
        float: left;
    }
}


#firstNews img, .oldNews img{
    width: 100%;
    float: left;
    margin-bottom: 0px;
}
#firstNews h2, .oldNews h2{
    font-weight: normal;
    font-size: 1.4em;
    color: #5f5f5f;
    font-family: Montserrat, sans-serif;
}
#firstNews p,#news .oldNews p{
    width: 90%;
    margin-left: 5%;
}
 #firstNews div.more,#news .oldNews div.more{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;

    font-family: Roboto, Verdana, Tahoma, sans;

    padding: 12px 16px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #751717;
}
 #firstNews div.more:hover, .oldNews div.more:hover{
    background-color: #691b1b;
}

@media (max-width: 480px ) {
     #firstNews div.more, .oldNews div.more{
        /* Сбрасываем дефолтные стили */
        border: none;
        outline: none;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 50%;

        font-family: Roboto, Verdana, Tahoma, sans;

        border-radius: 10px;
        color: #ffffff;
        background-color: #751717;
    }
     #firstNews div.more:hover, #news .oldNews div.more:hover{
        background-color: #691b1b;
    }

}

 #news .oldNews{
    width: 45%;
    margin-left: 5%;
    background-color: #d6d6d6;
    padding: 1%;
    float: left;

}
@media (max-width: 480px) {
    #newsLent #news .oldNews {
        width: 98%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #d6d6d6;
        padding: 1%;
        float: left;
    }
}

/*Страница новости*/

#newsLentFull{ /* Блок новостей*/

    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20%;
    float: left;
    min-height: 100%;
    position: relative;

}
#newsFull{/* новости*/
    width: 80%;
    height: 100%;
    margin-left: 10%;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
}
#firstNewsFull{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color: #d6d6d6;
    padding: 1%;
    float: left;
}
@media (max-width: 480px) {
#firstNewsFull {
        width: 98%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #d6d6d6;
        padding: 1%;
        float: left;
    }
}
#firstNewsFull img{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
#firstNewsFull h2{
    font-weight: normal;
    font-size: 1.4em;
    color: #5f5f5f;
    font-family: Montserrat, sans-serif;
}
#firstNewsFull p{
    width: 100%;
    margin-left: 0;
    font-size: 14px;
}



/*footer*/

footer{
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    float: left;
    padding: 1%;
    background-color: #851313;
    border-top: 2px solid darkred;
    margin-top: 10px;
    color: white;
    font-family: "Roboto Light", sans-serif;
}
footer img {
    width: 30px;
    height: 30px;
    float: right;
    flex: 0 0 auto;
}